.vs/
bin/
obj/
*.user
*.suo
# Local Docker secrets and FrontEnd Settings
.env
.env.local
# Visual Studio upgrade reports
UpgradeLog*.htm

# Root Node dependencies
node_modules/

# Local NuGet packages
packages/