@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: #f1f5f9;
}
